section.Research {
    position: relative;
    .research__wrapper {
        width: 100%;
        height: 832px;
        margin: 0 auto;
        @media (max-width: 575.98px) {
            height: 575px;
        }
        @media (max-width: 1024.98px) {
            display: block;
        }
    }
    .research__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 832px;
        @media (max-width: 575.98px) {
            height: 575px;
        }
        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #ffffff00, #ffffffdc, #ffffff);
            content: "";
            top: 0;
            right: 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .research__content {
        display: block;
        position: relative;
        width: calc(100% - 110px);
        margin-right: auto;
        padding: 100px 0;
        @media (max-width: 1024.98px) {
            width: 90%;
            margin: 0 auto;
            padding: 60px 0;
        }
        @media (max-width: 575.98px) {
            padding: 25px 0;
        }
    }
    .research__content-box {
        width: 735px;
        margin-left: auto;
        @media (max-width: 1439.98px) {
            width: 650px;
        }
        @media (max-width: 1024.98px) {
            width: 100%;
        }
    }
    .research__content-title {
        h3 {
            font-size: 30px;
            font-family: Averta-Bold;
            color: map-get($mau, vang);
            margin-bottom: 70px;
            text-transform: uppercase;
            @media (max-width: 1439.98px) {
                font-size: 25px;
            }
            @media (max-width: 1024.98px) {
                font-size: 30px;
            }
            @media (max-width: 574.98px) {
                font-size: 18px;
            }
        }
    }
    .research__content-item {
        width: 100%;
        background: #F1F0F0;
        height: 420px;
        border-radius: 10px;
        box-shadow: 0 3px 6px #000000;
        padding: 45px 0;
        padding-left: 73px;
        padding-right: 95px;
        @media (max-width: 575.98px) {
            padding: 20px;
            height: 100%;
        }
    }
    .research__item {
        position: relative;
        &:first-child {
            padding-bottom: 40px;
            &::before {
                position: absolute;
                height: 1px;
                width: 100%;
                content: "";
                bottom: 0;
                right: 0;
                background: map-get($mau, xam);
            }
            &::after {
                position: absolute;
                height: 11px;
                width: 11px;
                border-radius: 50%;
                content: "";
                bottom: -4%;
                right: 0;
                background: map-get($mau, xam);
            }
        }
        &:last-child {
            padding-top: 40px;
        }
        h4 {
            padding-right: 50px;
            font-family: Averta-Bold;
            font-size: 25px;
            text-transform: uppercase;
            color: map-get($mau, xam);
            @media (max-width: 575.98px) {
                font-size: 15px;
                padding-right: 0;
            }
        }
        .research__item-pdf {
            span {
                font-family: Averta-Light;
                font-size: 20px;
                padding-left: 15px;
                color: map-get($mau, xam);
                @media (max-width: 575.98px) {
                    // padding-left: 0;
                    font-size: 15px;
                }
                img {
                    margin-left: 15px;
                    @media (max-width: 575.98px) {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}