section.About
	.About--img
		img.lazyload.blur-up(data-src="./assets/images/about/about-img.png", alt="")
	.About__wrapper
		.tab-container
			ul.list-tab
				li.item(toggle-for="item-1").acitve BẢO LONG
				li.item(toggle-for="item-2") LUMA