section.About
	.About--img
		img.lazyload.blur-up(data-src="./assets/images/about/about-img.png", alt="")
	.container
		.About__wrapper
			.tab-container
				ul.list-tab.aboutTab--list
					li.item.aboutTab--item(toggle-for="item-1") BẢO LONG
					li.item.aboutTab--item(toggle-for="item-2") LUMA
				.tab-content
					.content(tab-id="item-1")
						.aboutTab--title.cl-xanh-2.fw-700 BẢO HIỂM BẢO LONG
					.content(tab-id="item-2")
						.aboutTab--title.cl-xanh-2.fw-700 LUMA