section.About
	.About--img.ov-h
		// imgage-size: 1701x865
		img.lazyload.blur-up.ofcv(data-src="./assets/images/about/about-img.png", alt="")
	.container
		.About__wrapper
			.tab-container
				ul.list-tab.aboutTab--list
					li.item.aboutTab--item(toggle-for="item-1") BẢO LONG
					li.item.aboutTab--item(toggle-for="item-2") LUMA
				.tab-content
					.content(tab-id="item-1")
						.aboutTab--title.cl-xanh-2.fw-700 BẢO HIỂM BẢO LONG
						.aboutTab--content
							h3.cl-vang.fw-700 BẢO LONG VỚI 25 NĂM HOẠT ĐỘNG
							h5.fw-700 Trong lĩnh vực bảo hiểm phi nhân thọ với mạng lưới chi nhánh rộng khắp Việt Nam.
							p Bảo hiểm Bảo Long là công ty cổ phần đầu tiên hoạt động trên lĩnh vực bảo hiểm phi nhân thọ tại Việt Nam. Bảo Long đã không ngừng xây dựng và cải thiện các sản phẩm bảo hiểm của mình nhằm đáp đứng đầy đủ các nhu cầu đa dạng của mọi đối tượng khách hàng.
							ul
								li 25+ năm hoạt động và phát triển trên thị trường
								li 46+ đơn vị thành viên hoạt động kinh doanh tại Việt Nam
								li 100+ sản phẩm bảo hiểm và tái bảo hiểm được tung ra thị trường
								li 800+ đại lý bảo hiểm hoạt động trên phạm vi 55 tỉnh thành trên cả nước.
					.content(tab-id="item-2")
						.aboutTab--title.cl-xanh-2.fw-700 LUMA
						.aboutTab--content
							h3.cl-vang.fw-700 LUMA VỚI 25 NĂM HOẠT ĐỘNG
							h5 Trong lĩnh vực bảo hiểm phi nhân thọ với mạng lưới chi nhánh rộng khắp 
								|
								br
								| Việt Nam.
							p Bảo hiểm Bảo Long là công ty cổ phần đầu tiên hoạt động trên lĩnh vực bảo hiểm phi nhân thọ tại Việt Nam. Bảo Long đã không ngừng xây dựng và cải thiện các sản phẩm bảo hiểm của mình nhằm đáp đứng đầy đủ các nhu cầu đa dạng của mọi đối tượng khách hàng.
							ul
								li 25+ năm hoạt động và phát triển trên thị trường
								li 46+ đơn vị thành viên hoạt động kinh doanh tại Việt Nam
								li 100+ sản phẩm bảo hiểm và tái bảo hiểm được tung ra thị trường
								li 800+ đại lý bảo hiểm hoạt động trên phạm vi 55 tỉnh thành trên cả nước.