section.Programs
	.container
		.programs__wrapper
			.Core__titlePage
				h2.cl-xanh-2.tt-u.ta-c HÃY CHỌN CHƯƠNG TRÌNH BẢO HIỂM
			.Programs__table--overflow
				.Programs__table--wrapper
					.programslistName__wrapper
						.row
							.col-3
							.col-9
								.programs--list.row
									.programs--item.col-3
										.btn.btn--lg.w-100.bg-xanh-2
											.btn--icon
												img.lazyload.blur-up(data-src="./assets/icons/icon-program-1.svg", alt="")
											h5.tt-u.cl-trang(data-content--pc="CHƯƠNG TRÌNH A" data-content--mobile="A") CHƯƠNG TRÌNH A
									.programs--item.col-3
										.btn.btn--lg.w-100.bg-xanh-2
											.btn--icon
												img.lazyload.blur-up(data-src="./assets/icons/icon-program-2.svg", alt="")
											h5.tt-u.cl-trang(data-content--pc="CHƯƠNG TRÌNH B" data-content--mobile="B") CHƯƠNG TRÌNH B
									.programs--item.col-3
										.btn.btn--lg.w-100.bg-xanh-2
											.btn--icon
												img.lazyload.blur-up(data-src="./assets/icons/icon-program-3.svg", alt="")
											h5.tt-u.cl-trang(data-content--pc="CHƯƠNG TRÌNH C" data-content--mobile="C") CHƯƠNG TRÌNH C
									.programs--item.col-3
										.btn.btn--lg.w-100.bg-xanh-2
											.btn--icon
												img.lazyload.blur-up(data-src="./assets/icons/icon-program-4.svg", alt="")
											h5.tt-u.cl-trang(data-content--pc="CHƯƠNG TRÌNH D" data-content--mobile="D") CHƯƠNG TRÌNH D
					.programsTableContent__wrapper
						.programsTableContent--item
							.row.h-100
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Giới hạn bảo hiểm năm (VND)
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 2.400.000.000
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 6.000.000.000
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 12.000.000.000
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 18.000.000.000
						.programsTableContent--item
							.row.h-100
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Giới hạn bảo hiểm trọn đời (VND)
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 7.200.000.000
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 18.000.000.000
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 36.000.000.000
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 54.000.000.000
						.programsTableContent--item
							.row.h-100
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Thời gian chờ
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 180 ngày
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 180 ngày
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 180 ngày
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 180 ngày
						.programsTableContent--item
							.row.h-100
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c ĐIỀU TRỊ NỘI TRÚ
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
							.row.h-100.show--more
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Giường và phòng
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Phòng đơn tiêu chuẩn
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Phòng đơn tiêu chuẩn
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Phòng đơn tiêu chuẩn
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Phòng đơn tiêu chuẩn
							.row.h-100.show--more
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Bác sĩ / Chuyên gia thăm  khám khi cần thiết và phù hợp trong khi Người được bảo hiểm là bệnh nhân trong bệnh viện
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
							.row.h-100.show--more
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Chi phí ý tá chăm sóc, thuốc men và băng gạc: Bao gồm chi phí chăm sóc và chi phí thuốc men.
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
							.row.h-100.show--more
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Truyền máu, huyết tương, thuốc tăng huyết tương và tất cả các xet nghiệm, thành phần, thiết bị và dịch vụ liên quan.
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
							.row.h-100.show--more
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Chi phí kiểm tra chẩn đoán X-quang, chụp MRI, quét CAT và quét PET.
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
							.row.h-100.show--more
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Xạ trị được thực hiện bởi bác sĩ của chuyên khoa xạ trị hoặc y tá / kỹ thuật viên có trình độ dưới sự chỉ dẫn của bác sĩ / bác sĩ chuyên khoa xạ trị đã được cấp phép hành nghề.
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
							.row.h-100.show--more
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Điều trị hô hấp được thực hiện bởi bác sĩ hoặc nhà trị liệu được cấp giấy phép hành nghề.
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
							.row.h-100.show--more
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Hóa trị
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
							.row.h-100.show--more
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Phẫu thuật tái tạo
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
						.programsTableContent--item
							.row.h-100
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Dịch vụ xa cấp cứu nội địa
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 1.200.000.000/năm
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 1.200.000.000/năm
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 1.200.000.000/năm
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 1.200.000.000/năm
						.programsTableContent--item
							.row.h-100
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c LIỆU PHÁP PROTON HẠT NẶNG
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 1.200.000.000/năm
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 1.200.000.000/năm
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 1.200.000.000/năm
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 1.200.000.000/năm
						.programsTableContent--item
							.row.h-100
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c CHI PHÍ VẬN CHUYỂN VÀ CHI PHÍ LƯU TRÚ
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 240.000.000/năm
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 480.000.000/năm
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 480.000.000/năm
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 720.000.000/năm
						.programsTableContent--item
							.row.h-100
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c MỨC MIỄN THƯỜNG
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Không
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Không
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Không
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Không
						.programsTableContent--item
							.row.h-100
								.col-3
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c KHU VỰC ĐIỀU TRỊ
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Khu vực 1:
											p.fw-700.cl-xam.ta-c.w-70.mx-at Việt Nam và Thái Lan
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Khu vực 1:
											p.fw-700.cl-xam.ta-c.w-70.mx-at Việt Nam và Thái Lan
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Khu vực 1:
											p.fw-700.cl-xam.ta-c.w-70.mx-at Việt Nam và Thái Lan
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at Khu vực 1:
											p.fw-700.cl-xam.ta-c.w-70.mx-at Việt Nam và Thái Lan
						.programsTableContent--item.no-border.no-content
							.row.h-100
								.col-3
									.programsTableContent--title.bg-xanh-2
										h3.fw-700.tt-u.cl-xam.ta-c PHÍ BẢO HIỂM (VND)
								.col-9
						.programsTableContent--item.no-border
							.row.h-100
								.col-3
									.programsTableContent--title.bg-xanh-2
										h5.cl-xam.ta-c Người đăng ký bảo hiểm
										p.cl-xam.ta-c (Chủ hợp đồng):
										h3.fw-700.tt-u.cl-xam.ta-c Phạm Hồng Anh
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 8.256.000
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 12.104.493
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 12.517.293
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 14.714.587
						.programsTableContent--item.no-border
							.row.h-100
								.col-3
									.programsTableContent--title.bg-xanh-2
										h5.cl-xam.ta-c Thành viên thứ 1:
										h3.fw-700.tt-u.cl-xam.ta-c Lê Thị Tuyết Hoa
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 8.256.000
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 12.104.493
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 12.517.293
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 14.714.587
						.programsTableContent--item.no-border
							.row.h-100
								.col-3
									.programsTableContent--title.bg-xanh-2
										h5.cl-xam.ta-c Thành viên thứ 2:
										h3.fw-700.tt-u.cl-xam.ta-c Phạm Hồng Tiến
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 8.256.000
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 12.104.493
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 12.517.293
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 14.714.587
						.programsTableContent--item.no-border
							.row.h-100
								.col-3
									.programsTableContent--title.bg-xanh-2
										h5.cl-xam.ta-c Thành viên thứ 3:
										h3.fw-700.tt-u.cl-xam.ta-c Phạm Hồng Xuân
								.col-9
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 8.256.000
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 12.104.493
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 12.517.293
										.programsTableContent__Value--item.col-3
											p.fw-700.cl-xam.ta-c.w-70.mx-at 14.714.587
					.programsTableTotalPrice__wrapper
						.row
							.col-3
								.programsTableTotalPrice--title
									.btn.btn--lg.w-100.bg-vang
										h5.tt-u.cl-trang TỔNG PHÍ TẠM TÍNH
							.col-9
								.programsTableTotalPrice--list.row
									.programsTableTotalPrice--item.col-3
										.form-group
											.input-group-checkox.bg-trang
												label.checkbox__wrapper.bg-vang
													span.tt-u.cl-trang.fw-700 19.344.000
													.checkbox-custom.checked-xanh-2
														input(type="checkbox")
									.programsTableTotalPrice--item.col-3
										.form-group
											.input-group-checkox.bg-trang
												label.checkbox__wrapper.bg-vang
													span.tt-u.cl-trang.fw-700 28.361.110
													.checkbox-custom.checked-xanh-2
														input(type="checkbox")
									.programsTableTotalPrice--item.col-3
										.form-group
											.input-group-checkox.bg-trang
												label.checkbox__wrapper.bg-vang
													span.tt-u.cl-trang.fw-700 29.361.110
													.checkbox-custom.checked-xanh-2
														input(type="checkbox")
									.programsTableTotalPrice--item.col-3
										.form-group
											.input-group-checkox.bg-trang
												label.checkbox__wrapper.bg-vang
													span.tt-u.cl-trang.fw-700 34.476.619
													.checkbox-custom.checked-xanh-2
														input(type="checkbox")
					.programs__btnSubmit
						.row
							.col-3
							.col-9
								.row
									.col-3
									.col-3
									.col-3
									.col-3
										a(href="step-buy-online__1.html").btn.btn--lg.w-100.bg-vang
											h5.tt-u.cl-trang.ta-c đơn yêu cầu bảo hiểm