section.Research
	.research__img.ov-h
		img.lazyload.blur-up(src="./assets/images/research/banner-L.png", alt="tim-hieu-them")
	.container
		.research__wrapper
			.research__content
				.research__content-box
					.research__content-title
						h3 TÌM HIỂU THÊM VỀ CHƯƠNG TRÌNH BẢO HIỂM GLOBAL CANCER CARE
					.research__content-item
						.research__item
							h4 Giới thiệu chương trình Bảo hiểm điều trị ung thư quốc tế
							a.research__item-pdf(href="http://")
								img.lazyload.blur-up(src="./assets/images/research/pdf.png", alt="pdf")
								span Xem tài liệu
						.research__item
							h4 XEM BẢNG NGUYÊN TẮC BẢO HIỂM
							a.research__item-pdf(href="http://")
								img.lazyload.blur-up(src="./assets/images/research/pdf.png", alt="pdf")
								span Xem tài liệu
						.research__item
							h4 XEM BẢNG NGUYÊN TẮC BẢO HIỂM
							a.research__item-pdf(href="http://")
								img.lazyload.blur-up(src="./assets/images/research/pdf.png", alt="pdf")
								span Xem tài liệu
						.research__item
							h4 XEM BẢNG NGUYÊN TẮC BẢO HIỂM
							a.research__item-pdf(href="http://")
								img.lazyload.blur-up(src="./assets/images/research/pdf.png", alt="pdf")
								span Xem tài liệu