section.Research
	.container-fluid
		section.research__wrapper
			.research__img
				img(src="./assets/images/research/banner-L.jpg", alt="tim-hieu-them")
			.research__content
				.research__content-box
					.research__content-title
						h3 TÌM HIỂU THÊM VỀ CHƯƠNG TRÌNH BẢO HIỂM GLOBAL CANCER CARE
					.research__content-item
						.research__item
							h4 Giới thiệu chương trình Bảo hiểm điều trị ung thư quốc tế
							.research__item-pdf
								a(href="http://")
									img(src="./assets/images/research/pdf.png", alt="pdf")
									span Xem tài liệu
										img.svg(src="./assets/icons/arrow-double.svg", alt="")
						.research__item
							h4 XEM BẢNG NGUYÊN TẮC BẢO HIỂM
							.research__item-pdf
								a(href="http://")
									img(src="./assets/images/research/pdf.png", alt="pdf")
									span Xem tài liệu
										img.svg(src="./assets/icons/arrow-double.svg", alt="")