section.Research
	.research__img.ov-h
		img.lazyload.blur-up(src="./assets/images/research/banner-L.png", alt="tim-hieu-them")
	.container
		.research__wrapper
			.research__content
				.research__content-box
					.research__content-title
						h3 TÌM HIỂU THÊM VỀ CHƯƠNG TRÌNH BẢO HIỂM GLOBAL CANCER CARE
					.research__content-item
						.research__item
							h4 Giới thiệu chương trình Bảo hiểm điều trị ung thư quốc tế
							a.fancybox__getPDF.research__item-pdf(data-fancybox, data-src="",data-modal="true", href="javascript:;")
								img.lazyload.blur-up(src="./assets/images/research/pdf.png", alt="pdf")
								span Xem tài liệu
							.popup__PDF
								.popup__PDF-inner
									h2.tt-u GIỚI THIỆU CHƯƠNG TRÌNH BẢO HIỂM ĐIỀU TRỊ UNG THƯ QUỐC TẾ
									.view__PDF--lg
										iframe(src="https://docs.google.com/viewer?url=http://207.148.69.88:8003/assets/bao-long-update.pdf&embedded=true", frameborder="0" width="100%")
								.bg-vang.position__btn-x(data-fancybox-close)
									img(src="./assets/icons-form/close.png", alt="icons")

						.research__item
							h4 XEM QUI TẮC BẢO HIỂM
							a.fancybox__getPDF.research__item-pdf(data-fancybox, data-src="",data-modal="true", href="javascript:;")
								img.lazyload.blur-up(src="./assets/images/research/pdf.png", alt="pdf")
								span Xem tài liệu
							.popup__PDF
								.popup__PDF-inner
									h2.tt-u XEM QUI TẮC BẢO HIỂM
									.view__PDF--lg
										iframe(src="https://docs.google.com/viewer?url=http://207.148.69.88:8003/assets/bao-long-update.pdf&embedded=true", frameborder="0")
								.bg-vang.position__btn-x(data-fancybox-close)
									img(src="./assets/icons-form/close.png", alt="icons")