section.Research
	.research__img.ov-h
		img.lazyload.blur-up(src="./assets/images/research/banner-L.png", alt="tim-hieu-them")
	.container
		.research__wrapper
			.research__content
				.research__content-box
					.research__content-title
						h3 TÌM HIỂU THÊM VỀ CHƯƠNG TRÌNH BẢO HIỂM GLOBAL CANCER CARE
					.research__content-item
						.research__item
							h4 Giới thiệu chương trình Bảo hiểm điều trị ung thư quốc tế
							a.fancybox__getPDF.research__item-pdf(data-fancybox, data-src="#trueModal--1",data-modal="true", href="javascript:;")
								img.lazyload.blur-up(src="./assets/images/research/pdf.png", alt="pdf")
								span Xem tài liệu
							.popup__PDF#trueModal--1
								.popup__PDF-inner
									h2.tt-u GIỚI THIỆU CHƯƠNG TRÌNH BẢO HIỂM ĐIỀU TRỊ UNG THƯ QUỐC TẾ
									.view__PDF
										iframe(src="./downloads/bao-long.pdf", frameborder="0")
									.btnClose__popup
										button.btnClose__PDF.tt-u(data-fancybox-close) Xác nhận
						.research__item
							h4 XEM BẢNG NGUYÊN TẮC BẢO HIỂM
							a.fancybox__getPDF.research__item-pdf(data-fancybox, data-src="#trueModal--2",data-modal="true", href="javascript:;")
								img.lazyload.blur-up(src="./assets/images/research/pdf.png", alt="pdf")
								span Xem tài liệu
							.popup__PDF#trueModal--2
								.popup__PDF-inner
									h2.tt-u XEM BẢNG NGUYÊN TẮC BẢO HIỂM
									.view__PDF
										iframe(src="./downloads/bao-long.pdf", frameborder="0")
									.btnClose__popup
										button.btnClose__PDF.tt-u(data-fancybox-close) Xác nhận