.Define {
	padding: 100px 0;

	@media (max-width: 1199.98px) {
		padding: 50px 0;
	}

	@media (max-width: 575.98px) {
		padding: 25px 0;
	}
}

.define__wrapper {
	display: flex;
	flex-wrap: wrap;
}

.define__listMenu {
	-ms-flex: 0 0 100%;
	-webkit-box-flex: 0;
	flex: 0 0 327px;
	max-width: 327px;

	@media (max-width: 767.98px) {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.define__blockContent {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	padding-left: 40px;

	@media (max-width: 1024.98px) {
		padding-left: 10px;
	}

	@media (max-width: 767.98px) {
		padding-left: 0;
		margin-top: 25px;
	}
}

.define__list {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	background: #F1F0F0;
	border-radius: 8px;
}

.define__list-tilte {
	padding: 13px 10px;
	display: flex;
	background: map-get($mau, vang);
	border-radius: 8px;
	margin-bottom: 34px;

	h3 {
		font-size: 20px;
		font-family: Averta-Bold;
		color: white;
		padding-left: 9px;
	}
}

.define__list-item {
	padding: 0 16px;
	padding-bottom: 40px;

	ul {
		padding-inline-start: 18px;
		list-style: none;

		li {
			cursor: pointer;
			position: relative;
			padding: 10px 0;
			padding-left: 19px;
			border-bottom: solid #929292 1px;
			font-size: 16px;
			font-family: Averta-Bold;
			margin-bottom: 10px;
			color: map-get($mau, xam);

			&:last-child {
				margin-bottom: 0;
			}

			&::before {
				position: absolute;
				width: 8px;
				height: 8px;
				background: map-get($mau, xam);
				left: 0;
				content: "";
				border-radius: 50%;
				top: 50%;
				transform: translateY(-50%);
			}

			&.active {
				color: #09327E;

				&::before {
					background: #09327E;
				}
			}
		}
	}
}

.define__content {
	transition: 1s all ease-in-out;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.define__content-img {
	-ms-flex: 0 0 100%;
	-webkit-box-flex: 0;
	flex: 0 0 462px;
	max-width: 462px;
	height: 558px;
	background: map-get($mau, xam);

	@media (max-width: 1439.98px) {
		-ms-flex: 0 0 30%;
		flex: 0 0 40%;
		max-width: 40%;
	}

	@media (max-width: 1024.98px) {
		display: none;
	}
}

.define__content-text__wrapper {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	padding: 45px;
	background: #F1F0F0;
	max-height: 558px;

	@media (max-width: 1439.98px) {
		padding: 20px;
	}

	@media (max-width: 767.98px) {
		padding: 20px;
		max-height: unset;
	}
}

.define__text-title {
	margin-bottom: 20px;

	h4 {
		position: relative;
		display: inline-block;
		font-size: 30px;
		font-family: Averta-Bold;
		color: #09327E;
		padding-bottom: 8.5px;
		border-bottom: solid 1px #09327E;

		&::before {
			position: absolute;
			width: 11px;
			height: 11px;
			border-radius: 50%;
			content: '';
			bottom: -6px;
			left: 0;
			background: #09327E;
		}
	}
}

.define__content-text {
	overflow-y: auto;
	max-height: 100%;
}

.define__text-min {
	.pt--4 {
		margin-top: 40px;

		@media (max-width: 767.98px) {
			margin-top: 20px;
		}
	}

	h4 {
		margin-bottom: 40px;
		font-size: 20px;
		font-family: Averta-Bold;
		color: map-get($mau, xam);
	}

	.define__min-content {
		>h4 {
			margin: 20px 0;
		}

		p {
			color: #707070;
			font-size: 16px;
			color: map-get($mau, xam);
			font-family: Averta-Light;
		}
	}
}