section.compensation
	.compensation__img.ov-h
			img.lazyload.blur-up(src="./assets/images/compensation/banner.png", alt="huong-dan-boi-thuong")
	.container
		.compensation__wrapper
			.compensation__content
				.compensation__content-box
					.compensation__content-title
						h3 HƯỚNG DẪN BỒI THƯỜNG
						p Trong trường hợp không may được chẩn đoán mắc bệnh ung thư, bạn phải thông báo ngay lập tức cho chúng tôi để được hướng dẫn cụ thể. Sẽ có một chuyên viên riêng quản lý trường hợp bệnh của bạn. Chuyên viên này sẽ hướng dẫn, tư vấn, giúp đỡ bạn trong suốt quá trình điều trị. Họ sẽ giới thiệu những bác sỹ , bệnh viện tốt nhất trong khu vực  và cùng bạn lựa chọn phương pháp điều trị tốt nhất, phù hợp nhất. Chúng tôi sẽ thu xếp việc điều trị cho bạn kể cả khi việc điều trị được thực hiện ở nước ngoài.
					.compensation__content-item
						.compensation__item
							h4 XEM HƯỚNG DẪN YÊU CẦU BỒI THƯỜNG
							a.compensation__item-pdf.fancybox__getPDF(data-fancybox, data-src="#trueModal--3",data-modal="true", href="javascript:;")
								img.lazyload.blur-up(src="./assets/pdf.png", alt="pdf")
								span Xem tài liệu
							.popup__PDF#trueModal--3
								.popup__PDF-inner
									h2.tt-u XEM HƯỚNG DẪN YÊU CẦU BỒI THƯỜNG
									.view__PDF
										iframe(src="./downloads/bao-long.pdf", frameborder="0")
									.btnClose__popup.btn.btn--lg.pad-0-15px.bg-vang(data-fancybox-close)
										h5.tt-u.cl-trang Xác nhận
						.compensation__item
							h4 Lorem ipsum dolor
							a.compensation__item-pdf.fancybox__getPDF(data-fancybox, data-src="#trueModal--4",data-modal="true", href="javascript:;")
								img.lazyload.blur-up(src="./assets/pdf.png", alt="pdf")
								span Xem tài liệu
							.popup__PDF#trueModal--4
								.popup__PDF-inner
									h2.tt-u Lorem ipsum dolor
									.view__PDF
										iframe(src="./downloads/bao-long.pdf", frameborder="0")
									.btnClose__popup.btn.btn--lg.pad-0-15px.bg-vang(data-fancybox-close)
										h5.tt-u.cl-trang Xác nhận