footer
	.container.h-100
		section.footer__mainWrapper.h-100
			.row.h-100
				.col-md-6
					.footer--title.cl-vang.fw-700 SITE MAPS
					.footer--siteMaps.row
						.item__footer-siteMaps.col-sm-4.col-md-6.col-lg-4
							ul
								li
									a.footer__site-maps--link(href="research.html") Global Cancer Care
								li
									a.footer__site-maps--link(href="define.html") Ung thư là gì
								li
									a.footer__site-maps--link(href="buy-online.html") Mua online
						.item__footer-siteMaps.col-sm-4.col-md-6.col-lg-4
							ul
								li
									a.footer__site-maps--link(href="about.html") BẢO LONG & LUMA
						.item__footer-siteMaps.col-sm-4.col-md-6.col-lg-4
							ul
								li
									a.footer__site-maps--link(href="compensation.html") HƯỚNG DẪN BỒI THƯỜNG
				.col-md-6
					.footer--title.cl-vang.fw-700 LIÊN HỆ
					.footer--contact
						ul.row
							li.footerContact--item.col-lg-6
								.footer-contact--icon
									img.lazyload.blur-up(data-src="./assets/icons/footer-address.svg", alt="")
								a.footerContact--link.lcl.lcl-1(href="#") 185 Điện Biên Phủ, P. Đa Kao, Q.1
							li.footerContact--item.col-lg-6
								.footer-contact--icon
									img.lazyload.blur-up(data-src="./assets/icons/footer-mail.svg", alt="")
								a.footerContact--link.lcl.lcl-1(href="#") globalcancercare@baohiembaolong.vn
							li.footerContact--item.col-lg-6
								.footer-contact--icon
									img.lazyload.blur-up(data-src="./assets/icons/footer-phone.svg", alt="")
								a.footerContact--link.lcl.lcl-1(href="#") 028. 38266766 - 028. 38266766
							li.footerContact--item.col-lg-6
								.footer-contact--icon
									img.lazyload.blur-up(data-src="./assets/icons/footer-website.svg", alt="")
								a.footerContact--link.lcl.lcl-1(href="#") globalcancercare.baohiembaolong.vn
	.coppy-right.bg-xanh-2
		p.cl-trang.lcl.lcl-1 Copyright © 2019 GlobalCancerCare.Designed by Web4G Solutions