section.MainSlider__Banners
	.swiper-container
		.swiper-wrapper
			-for(i=1;i<4;i++)
				.swiper-slide
					a.main_banner--link(href="buy-online.html")
						// image-size: 1920x1080
						img(src="./assets/images/banners/main_banner-"+i+".png", alt="main-banner")
		.swiper-pagination