section.MainSlider__Banners
	.swiper-container
		.swiper-wrapper
			-for(i=1;i<4;i++)
				.swiper-slide
					a.main_banner--link(href="buy-online.html")
						// image-size: 1920x1080
						img(src="./assets/images/banners/main_banner-1.png",,class='banner-pc', alt="main-banner")
						//- // image-size: 768px
						//- img(src="./assets/images/banners/main_banner-2.png",class='banner-tablet', alt="main-banner")
						//- //image-size: 425px
						//- img(src="./assets/images/banners/main_banner-3.png",class='banner-mobile', alt="main-banner")
		.swiper-pagination