section.TitlePage__Banners
	.TitlePageBanners--img.ov-h
		img.lazyload.blur-up.ofcv(data-src=titlePageBanner_img, alt="")
	.TitlePageBanners__wrapper
		.container.h-100
			.TitlePageBannersContent__wrapper.h-100
				.TitlePageBanners--content.bg-vang
					h3.cl-trang #{titlePageBanner_content}