section.StepBuyOnline__2
	.container
		.Core__titlePage
			h2.cl-xanh-2.tt-u.ta-c QUY TRÌNH MUA ONLINE 3 BƯỚC
		.overview_step_buy_online__wrapper
			.overview_step_buy_online--list.row
				.overview_step_buy_online--item.col-4
					a(href="step-buy-online__1.html").btn.btn--lg.border-vang-1px.no-shadow.w-100
						h5.tt-u.cl-vang.ta-c.lcl.lcl-2 đơn yêu cầu bảo hiểm
				.overview_step_buy_online--item.col-4.active
					a(href="step-buy-online__1.html").btn.btn--lg.border-vang-1px.no-shadow.w-100
						h5.tt-u.cl-vang.ta-c.lcl.lcl-2 kiểm tra và xác nhận
				.overview_step_buy_online--item.col-4
					a(href="step-buy-online__1.html").btn.btn--lg.border-vang-1px.no-shadow.w-100
						h5.tt-u.cl-vang.ta-c.lcl.lcl-2 thực hiện thanh toán
			.overview_step_buy_online--desc
				p.cl-xam.ta-c Cám ơn bạn đã điền đơn yêu cầu Bảo hiểm online trước đó. Vui lòng xem lại thông tin đã điền và xác nhận thông tin bên dưới.
		.step_buy_online_2__wrapper
			.row
				.col-md-6
					.programsTableContent__wrapper
						.programsTableContent--item
							.row.h-100
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Giới hạn bảo hiểm năm (VND)
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at 2.400.000.000
						.programsTableContent--item
							.row.h-100
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Giới hạn bảo hiểm trọn đời (VND)
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at 7.200.000.000
						.programsTableContent--item
							.row.h-100
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Thời gian chờ
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at 180 ngày
						.programsTableContent--item.hasSubContent__programs
							.row.h-100
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c ĐIỀU TRỊ NỘI TRÚ
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.tt-u.cl-xam.ta-c Giường và phòng
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at Phòng đơn tiêu chuẩn
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.tt-u.cl-xam.ta-c Bác sĩ / Chuyên gia thăm  khám khi cần thiết và phù hợp trong khi Người được bảo hiểm là bệnh nhân trong bệnh viện
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.tt-u.cl-xam.ta-c Chi phí ý tá chăm sóc, thuốc men và băng gạc: Bao gồm chi phí chăm sóc và chi phí thuốc men.
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.tt-u.cl-xam.ta-c Truyền máu, huyết tương, thuốc tăng huyết tương và tất cả các xet nghiệm, thành phần, thiết bị và dịch vụ liên quan.
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.tt-u.cl-xam.ta-c Chi phí kiểm tra chẩn đoán X-quang, chụp MRI, quét CAT và quét PET.
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.tt-u.cl-xam.ta-c Xạ trị được thực hiện bởi bác sĩ của chuyên khoa xạ trị hoặc y tá / kỹ thuật viên có trình độ dưới sự chỉ dẫn của bác sĩ / bác sĩ chuyên khoa xạ trị đã được cấp phép hành nghề.
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Điều trị hô hấp được thực hiện bởi bác sĩ hoặc nhà trị liệu được cấp giấy phép hành nghề.
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Hóa trị
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Phẫu thuật tái tạo
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
						.programsTableContent--item.hasSubContent__programs
							.row.h-100
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c ĐIỀU TRỊ Ngoại TRÚ
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Chi phí ngoại trú điều trị Ung thư Hóa trị, xạ trị, liệu pháp hormone và thuốc kê theo toa.
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% số tiền bảo hiểm sau khi áp dụng mức miễn thường
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Điều trị trước nhập viện 
											|
											br
											| Chi trả các chi phí phát sinh cho việc tư vấn, kê toa, chẩn đoán trong số ngày được chỉ định trước khi điều trị nội trú hoặc điều trị trong ngày và các khoản phí đó là cần thiết để xác định 
											|
											br
											|Người được bảo hiểm có nên nhập viện hay không
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn 90 ngày
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Điều trị sau nhập viện
											|
											br
											|Chi trả các chi phí cho việc tư vấn và điều trị sau khi điều trị nội trú hoặc phẫu thuật trong ngày đưỡ thực hiện bởi bác sĩ điều trị nội trú hoặc bác sĩ y kha được chỉ định với điều kiện tư vấn hoặc điều trị này diễn ra trong ssoo ngày được chỉ định tính từ khi Người được bảo hiểm xuất viện sau khi điều trị nội trú hoặc điều trị trong ngày.
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn 90 ngày
				.col-md-6
					.programsTableContent__wrapper
						.programsTableContent--item.hasSubContent__programs
							.row.h-100
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c LIỆU PHÁP ĐIỀU TRỊ
										h3.fw-700.tt-u.cl-xam.ta-c UNG THƯ TRÚNG ĐÍCH
								.col-6
									.programsTableContent__Values.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 1.200.000.000/ năm
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Quyền lợi này đề cập đến tất cả các loại phương pháp điều trị ung thư tác động vào các gen ung thư cụ thể, protein hoặc môi trường mô có đóng góp vào sự phát triển và tồn tại của ung thư. Các hương pháp này bao gồm nhưng không giới hạn liệu pháp miễn dịch như liệu pháp tế bào T mang thụ thể kháng nguyên dạng khảm (Chimeric Antigen Receptors, CAR-T), liệu pháp hormone, điều hòa sự biểu hiện gen (thay đổi cách biểu hiện gen từ tế bào ung thư được dịch mã), gây ức chế chết rụng tế bào (gây ra tế bào ung thư trải qua quá trình chết tế bào bình thường) hoặc điều trị tế bào trúng đích.
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 1.200.000.000/ năm
						.programsTableContent--item.hasSubContent__programs
							.row.h-100
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c LIỆU PHÁP PROTON
										h3.fw-700.tt-u.cl-xam.ta-c HẠT NẶNG
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 1.200.000.000/ 
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Liệu pháp Proton ion hạt nặng
											|
											br
											| Liệu pháp Proton ion hạt nặng chỉ được sử dụng cho các tình huống:
											br
											| -Ung thư hệ thần kinh trung ương - CNS (não & tủy sống) hoặc ung thư thể rắn ác tính cho Người được bảo hiểm < 21 tuổi.
											br
											| - U nguyên sông (Chordomas) hoặc U xương sụn (chondrosarcomas) (loại ung thư cột sống) nằm ở phần đáy so hoặc cột sống cô (xương cô) chưa lan rộng (di căn).
											br
											| - Ung thư mống mắt, mí mắt hoặc hắc mac (u ác tính) chưa lan rộng (di căn). 
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 1.200.000.000/ năm
						.programsTableContent--item.hasSubContent__programs
							.row.h-100
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c CHI PHÍ VẬN CHUYỂN VÀ
										h3.fw-700.tt-u.cl-xam.ta-c CHI PHÍ LƯU TRÚ
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn 
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 2.400.000.000/năm
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Giới hạn bảo hiểm năm cho vận chuyển và lưu trú (VND)
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at Giới hạn
											p.fw-700.cl-xam.ta-c.w-70.mx-at VND 2.400.000.000/năm
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c Chi phí vận chuyển từ quốc gia cư trú đến nước điều trị (khứ hồi)
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at Vé máy bay / Vé tàu hỏa - 
											p.fw-700.cl-xam.ta-c.w-70.mx-at Hạng phổ thông
							.row.h-100.show--more.pe-n
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.cl-xam.ta-c Chi phí lưu trú (Giới hạn khách sạn tiêu chuẩn 4 sao)
										h3.fw-700.cl-xam.ta-c - Chi phí cho Người được bảo hiểm và một người đồng hành trong suốt chuyến đi điều trị bệnh được bảo hiểm.
										h3.fw-700.cl-xam.ta-c - Thời gian lưu trú tối đa hàng năm trong khi được điều trị.
										h3.fw-700.cl-xam.ta-c - Chi phí của các chuyến đi trong nước không được bảo hiểm.
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at 100% Số tiền bảo hiểm sau khi áp dụng mức miễn thường.
											p.fw-700.cl-xam.ta-c.w-70.mx-at Thời gian lưu trú tối đa (30 ngày)
						.programsTableContent--item
							.row.h-100
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c MỨC MIỄN THƯỜNG
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at Không
						.programsTableContent--item
							.row.h-100
								.col-6
									.programsTableContent--title.bg-trang.h-100
										h3.fw-700.tt-u.cl-xam.ta-c KHU VỰC ĐIỀU TRỊ
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at Khu vực 1:
											p.fw-700.cl-xam.ta-c.w-70.mx-at Việt Nam và Thái Lan
						.programsTableContent--item.no-border.no-content
							.row.h-100
								.col-6
									.programsTableContent--title.bg-xanh-2
										h3.fw-700.tt-u.cl-xam.ta-c PHÍ BẢO HIỂM (VND)
								.col-6
						.programsTableContent--item.no-border
							.row.h-100
								.col-6
									.programsTableContent--title.bg-xanh-2
										h5.cl-xam.ta-c Người đăng ký bảo hiểm
										p.cl-xam.ta-c (Chủ hợp đồng):
										h3.fw-700.tt-u.cl-xam.ta-c Phạm Hồng Anh
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at 8.256.000
						.programsTableContent--item.no-border
							.row.h-100
								.col-6
									.programsTableContent--title.bg-xanh-2
										h5.cl-xam.ta-c Thành viên thứ 1:
										h3.fw-700.tt-u.cl-xam.ta-c Lê Thị  Tuyết Hoa
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at 8.256.000
						.programsTableContent--item.no-border
							.row.h-100
								.col-6
									.programsTableContent--title.bg-xanh-2
										h5.cl-xam.ta-c Thành viên thứ 2:
										h3.fw-700.tt-u.cl-xam.ta-c Phạm Hồng Tiến
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at 8.256.000
						.programsTableContent--item.no-border
							.row.h-100
								.col-6
									.programsTableContent--title.bg-xanh-2
										h5.cl-xam.ta-c Thành viên thứ 1:
										h3.fw-700.tt-u.cl-xam.ta-c Phạm Hồng Xuân
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-xam.ta-c.w-70.mx-at 8.256.000
						.programsTableContent--item.no-border.total.bg-vang.br-l-r-10
							.row.h-100
								.col-6
									.programsTableContent--title
										h3.cl-trang.ta-c TỔNG PHÍ:
								.col-6
									.programsTableContent__Values.ai-c.h-100.row
										.programsTableContent__Value--item.col-12
											p.fw-700.cl-trang.ta-c.w-70.mx-at 19.344.000
		.update_form__wrapper
			p.update_form--desc.ta-c Đơn yêu cầu bảo hiểm đã điền (Bấm vào từng tên để kiểm tra trước khi xác nhận)
			.ListMembers__Slider
				.swiper-container.h-100
					.swiper-wrapper
						a.swiper-slide.memberSlider--item.active(data-fancybox data-src="#PopUp__CheckForms" data-options='{"touch" : false}' data-for="item-1" href="javascript:;")
							h4.memberSlider--name.tt-u.lcl.lcl-1 Chủ hợp đồng
						a.swiper-slide.memberSlider--item(data-fancybox data-src="#PopUp__CheckForms" data-options='{"touch" : false}' data-for="item-2" href="javascript:;")
							h4.memberSlider--name.tt-u.lcl.lcl-1 Thành viên 1
						a.swiper-slide.memberSlider--item(data-fancybox data-src="#PopUp__CheckForms" data-options='{"touch" : false}' data-for="item-3" href="javascript:;")
							h4.memberSlider--name.tt-u.lcl.lcl-1 thành viên 2
						a.swiper-slide.memberSlider--item(data-fancybox data-src="#PopUp__CheckForms" data-options='{"touch" : false}' data-for="item-4" href="javascript:;")
							h4.memberSlider--name.tt-u.lcl.lcl-1 thành viên 3
						a.swiper-slide.memberSlider--item(data-fancybox data-src="#PopUp__CheckForms" data-options='{"touch" : false}' data-for="item-5" href="javascript:;")
							h4.memberSlider--name.tt-u.lcl.lcl-1 thành viên 4
						a.swiper-slide.memberSlider--item(data-fancybox data-src="#PopUp__CheckForms" data-options='{"touch" : false}' data-for="item-6" href="javascript:;")
							h4.memberSlider--name.tt-u.lcl.lcl-1 thành viên 5
				.swiper-button-next
		.upload__file__wrapper
			p.upload__file--desc.ta-c Phần dành cho đối tác tải Đơn yêu cầu bảo hiểm mà khách hàng đã ký
			.upload__file--btn.mx-at
				.form-group.ta-c
					.custom-file-input.bg-xanh-3
						label
							h5.cl-trang.tt-u tải lên
							input(type="file" hidden )
					.name_file-downloaded__wrapper
						p.name_file-downloaded.cl-xam
		.confirm__wrapper
			.form-group
				a.d-f.ai-c.fancybox__getPDF(data-fancybox, data-src="",data-modal="true", href="javascript:;")
					.text-label.cl-xam Tôi đã đọc và hiểu qui tắc bảo hiểm Global Cancer Care:
					.form-group
						.checkbox-custom
							input(type="checkbox" id="rule")
				.popup__PDF
					.popup__PDF-inner
						h2.tt-u 
						.view__PDF
							iframe(src="./downloads/bao-long.pdf", frameborder="0")
						.btnClose__popup
							.btn.btn--confirm.pad-0-15px.checked.bg-vang.position--btn(data-fancybox-close)
								h5.tt-u.cl-trang Xác nhận
			.form-group
				label.d-f.ai-c
					.text-label.cl-xam Tôi xác nhận và đồng ý rằng:
					.form-group
						.checkbox-custom
							input(type="checkbox")
		.step_buy_online_2_note--desc
			ul
				li Việc xác nhận tại mục này có giá trị tương đương như việc Tôi xác nhận bằng chữ kí  trên Đơn Yêu cầu Bảo hiểm.
				li Tôi, được sự đồng ý của các thành viên gia đình, đại diện xác nhận đơn yêu cầu bảo hiểm thay mặt cho các thành viện gia đình.
				li Tôi đồng ý hợp đồng bảo hiểm sẽ được phát hành dưới hình thức điện tử và nhận mọi thông tin liên quan đến hợp đồng bảo hiểm từ công ty bảo hiểm hoặc công ty Luma qua thư điện tử mà tôi đã cung cấp. Các yêu cầu, thông tin liên quan đến hợp đồng bảo hiểm được gửi từ địa chỉ thư điện tử mà Tôi đã cung cấp được xem là yêu cầu, thông tin chính thức của Tôi, thay thế yêu cầu bằng văn bản.
		.step_buy_online--buttons__max-width-1088px
			.step_buy_online--buttons.row
				.item-buttons.col-12
					a(href="step-buy-online__3.html").btn.btn--lg.bg-vang
							h5.tt-u.cl-trang TỚI CỔNG THANH TOÁN