.EffectiveDate
	.Core__titlePage.haveLine
		h2.cl-vang.tt-u NGÀY HIỆU LỰC
	.buyOnlineSectionChild__wrapper
		.row
			.col-md-3
				.buyOnline--desc
					p Vui lòng chọn ngày hiệu lực (ngày hợp đồng bắt đầu có hiệu lực)
			.col-md-9
				.effectiveDate__wrapper
					.form-group
						.input-group.border-radius-10px
							.input-group-prepend.bg-xanh-2
								.input-group-icon
									img.lazyload.blur-up(data-src="./assets/icons-form/date-trang.svg", alt="")
							input.input-control.date-picker.border-radius-10px(type="date" placeholder="- - - CHỌN NGÀY HIỆU LỰC - - -")