.Exempt
	.Core__titlePage.haveLine
		h2.cl-vang.tt-u MỨC MIỄN THƯỜNG
	.exempt__wrapper
		.buyOnline--desc
			p Vui lòng chọn mức miễn thường phù hợp nhất.
			p Mức miễn thường là số tiền chi phí y tế đầu tiên mà Người được bảo hiểm có trách nhiệm thanh toán trước khi Công ty bảo hiểm thanh toán quyền lợi theo các điều khoản của hợp đồng bảo hiểm. Mức miễn thường áp dụng cho mỗi Người được bảo hiểm và cho mỗi năm bảo hiểm.
		.exempt--note
			i.cl-xam ***Tại thời điểm tổng chi phí điều trị vượt mức miễn thường thì công ty bảo hiểm sẽ chi trả toàn bộ chi phí điều trị của bạn theo quyền lợi bảo hiểm đã tham gia***
		.buyOnline--desc
			p Phí bảo hiểm sẽ thay đổi tùy theo mức miễn thường mà bạn lựa chọn:
		.exempt--list.row
			.exempt--item
				.form-group.h-100
					.input-group-checkox.h-100.bg-trang
						label.checkbox__wrapper.bg-xanh-2
							span.tt-u.cl-trang Không
							.checkbox-custom
								input(type="checkbox")
			.exempt--item
				.form-group.h-100
					.input-group-checkox.h-100.bg-trang
						label.checkbox__wrapper.bg-xanh-2
							span.tt-u.cl-trang 24.000.000 đ
							.checkbox-custom
								input(type="checkbox")
			.exempt--item
				.form-group.h-100
					.input-group-checkox.h-100.bg-trang
						label.checkbox__wrapper.bg-xanh-2
							span.tt-u.cl-trang.fw-700 120.000.000 đ
							.checkbox-custom
								input(type="checkbox")
			.exempt--item
				.form-group.h-100
					.input-group-checkox.h-100.bg-trang
						label.checkbox__wrapper.bg-xanh-2
							span.tt-u.cl-trang.fw-700 240.000.000 đ
							.checkbox-custom
								input(type="checkbox")
			.exempt--item
				.form-group.h-100
					.input-group-checkox.h-100.bg-trang
						label.checkbox__wrapper.bg-xanh-2
							span.tt-u.cl-trang.fw-700 600.000.000 đ
							.checkbox-custom
								input(type="checkbox")
			.exempt--item
				.form-group.h-100
					.input-group-checkox.h-100.bg-trang
						label.checkbox__wrapper.bg-xanh-2
							span.tt-u.cl-trang.fw-700 1.200.000.000 đ
							.checkbox-custom
								input(type="checkbox")