section.Define
	.tab-container.container
		.define__wrapper
			.define__listMenu
				.define__list
					.define__list-tilte
						.icon-list
							img.lazyload.blur-up(src="./assets/images/define/icon-list.png", alt="icon-list")
						h3 TÌM HIỂU THÊM VỀ UNG THƯ
					.define__list-item
						ul.list-tab
							li.active(toggle-for="1") Ung thư là gì ?
							li(toggle-for="2") Tại sao ung thư nguy hiểm ?
							li(toggle-for="3") Điều trị ung thư tốn kém ra sao ?
							li(toggle-for="4") Các phương pháp điều trị ung thư tiên tiến ?
			.define__blockContent
				.tab-content
					.content(tab-id="1")
						.define__content
							.define__content-img
								img.lazyload.blur-up.ofcv(data-src="./assets/images/define/img-1.png", alt="UTLG")
							.define__content-text__wrapper
								.define__content-text
									.define__text-title
										h4 Tại sao ung thư nguy hiểm ?
									.define__text-min
										.define__min-title
											h4  Lorem ipsum dolor sit amet,
												|
												br
												| consectetuer adipiscing elit.Aenean commodo
										.define__min-content
											p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.The Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, sheal  ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla  vulputate eget, arcu. In enim justo, rhoncu s ut, imperdiet a, venenatis
											h4  CLorem ipsum dolor sit amet
											p Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. No Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam your lorem ante, dapibus in, viverra quis, feugiat a, tellus. 