section.Define
	.container
		section.define__wrapper
			.define__flex
				.define__list
					.define__list-tilte
						.icon-list
							img(src="./assets/images/define/icon-list.png", alt="icon-list")
						h3 TÌM HIỂU THÊM VỀ UNG THƯ
					.define__list-item
						ul
							li.active Ung thư là gì ?
							li Tại sao ung thư nguy hiểm ?
							li Điều trị ung thư tốn kém ra sao ?
							li Các phương pháp điều trị ung thư tiên tiến ?
			.define__content
				.define__flex
					.define__content-img
						img(src="./assets/images/define/img-1.png", alt="UTLG")
				.define__content-text
					.define__text-title
						h4 Ung thư là gì ?
					.define__text-min
						.define__min-title
							h4.lcl.lcl-1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean commodo
						.define__min-content
							p.lcl.lcl-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur distinctio expedita officiis, facilis similique obcaecati in temporibus hic ab magni provident animi! Porro consectetur mollitia itaque, quo recusandae ab laudantium! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero tenetur ad sed dolores earum aut, exercitationem est et qui provident ab cupiditate officia ipsam hic fugit voluptas harum incidunt cum.
					.define__text-min
						.define__min-title.pt--4
							h4.lcl.lcl-1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean commodo
						.define__min-content
							p.lcl.lcl-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur distinctio expedita officiis, facilis similique obcaecati in temporibus hic ab magni provident animi! Porro consectetur mollitia itaque, quo recusandae ab laudantium! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nisi harum incidunt maxime quaerat. Dolorem, debitis ut, libero obcaecati expedita voluptatum dolor maiores sapiente, dicta molestias ipsam. Quasi, consequatur? Tempore?
					