section.BuyOnline
	.container
		section.buyOnline__wrapper
			.Core__titlePage
				h2.cl-xanh-2.tt-u.ta-c hãy chọn khu vực điều trị
					br
					| và mức miễn thường
			// KHU VỰC ĐIỀU TRỊ
			include area
			// NGÀY HIỆU LỰC
			include effective-date
			// MỨC MIỄN THƯỜNG
			include exempt
			.buyOnline__btnSubmit
				a(href="programs.html").btn.btn--lg.pad-0-15px.bg-vang
					h5.tt-u.cl-trang XEM PHÍ BẢO HIỂM