section.BuyOnline
	.container
		section.buyOnline__wrapper
			.Core__titlePage
				h2.cl-xanh-2.tt-u.ta-c hãy chọn khu vực điều trị
					br
					| và mức miễn thường
			.Area
				.Core__titlePage.haveLine
					h2.cl-vang.tt-u KHU VỰC ĐIỀU TRỊ
				.area__wrapper
					.row
						.col-lg-4
							.Area--desc
								p GlobalCancerCare cung cấp 3 khu vực để khách hàng chọn lựa.
								p Khi đã chọn lựa một khu vực, khách hàng có thể điều trị tại bất kỳ quốc gia nào trong khu vực đó.
								p Phí bảo hiểm sẽ khác nhau tùy theo khu vực mà bạn lựa chọn.
								p Vui lòng chọn khu vực điều trị phù hợp nhất:
						.col-lg-8
							