section.BuyOnline
	.container
		section.buyOnline__wrapper
			.Core__titlePage
				h2.cl-xanh-2.tt-u.ta-c hãy chọn khu vực điều trị
					br
					| và mức miễn thường
			.Area
				.Core__titlePage.haveLine
					h2.cl-vang.tt-u KHU VỰC ĐIỀU TRỊ
				.area__wrapper
					.row
						.col-lg-4.col-md-5
							.area--desc
								p GlobalCancerCare cung cấp 3 khu vực để khách hàng chọn lựa.
								p Khi đã chọn lựa một khu vực, khách hàng có thể điều trị tại bất kỳ quốc gia nào trong khu vực đó.
								p Phí bảo hiểm sẽ khác nhau tùy theo khu vực mà bạn lựa chọn.
								p Vui lòng chọn khu vực điều trị phù hợp nhất:
						.col-lg-8.col-md-7
							.areaList__wrapper
								.area--list.row
									.area--item.col-sm-4.col-md-6.col-lg-4
										.form-group.h-100
											.input-group-checkox.h-100.bg-trang
												label.checkbox__wrapper.bg-xanh-2
													span.cl-trang KHU VỰC 1
													.checkbox-custom
														input(type="checkbox")
												.checkbox--desc
													p.ta-c Việt Nam và Thái Lan.
									.area--item.col-sm-4.col-md-6.col-lg-4
										.form-group.h-100
											.input-group-checkox.h-100.bg-trang
												label.checkbox__wrapper.bg-xanh-2
													span.cl-trang KHU VỰC 2
													.checkbox-custom
														input(type="checkbox")
												.checkbox--desc
													p.ta-c Việt Nam, Thái Lan, Singapore, Malaysia, Hong Kong, Nhật Bản.
									.area--item.col-sm-4.col-md-6.col-lg-4
										.form-group.h-100
											.input-group-checkox.h-100.bg-trang
												label.checkbox__wrapper.bg-xanh-2
													span.cl-trang.fw-700 KHU VỰC 3
													.checkbox-custom
														input(type="checkbox")
												.checkbox--desc
													p.ta-c Toàn cầu.
								.area--note
									i.cl-xam *** Để tham gia chương trình GlobalCancerCare, khách hàng phải đang cư trú hoặc đang làm việc tại Việt Nam hoặc không sống ngoài Việt Nam hơn một trăm tám mươi lăm (185) ngày liên tục tại bất kỳ thời điểm nào***