.HomeFormRegister {
    padding: 80px 0;
    @media (max-width: 767.98px) {
        padding: 50px 0;
    }
    @media (max-width: 575.98px) {
        padding: 25px 0;
    }
}

.homeFormRegister__wrapper {
    @media (min-width: 1750px) {
        // width: calc(100% - 520px);
        width: calc(100% - 786px);
    }
    @media (min-width: 1440px) {
        width: calc(100% - 486px);
        margin: 0 auto;
    }
    @media (min-width: 1025px) {
        >.row {
            margin-left: -29px;
            margin-right: -29px;
            >[class*='col-'] {
                padding-left: 29px;
                padding-right: 29px;
            }
        }
    }
}

.homeFormRegisterSubForm__wrapper,
.homeFormRegisterMainForm__wrapper {
    position: relative;
    height: 100%;
    @media (min-width: 1025px) {
        max-height: 615px;
    }
}

.homeFormRegisterMainForm__wrapper {
    @media (max-width: 1024.98px) {
        margin-bottom: 25px;
    }
}

.homeFormRegister__title {
    margin-bottom: 50px;
    h2 {
        font-size: 1.5rem;
        font-family: Averta-Bold;
    }
    @media (max-width: 1024.98px) {
        margin-bottom: 25px;
        h2 {
            text-align: center;
        }
    }
    @media (max-width: 575.98px) {
        h2 {
            font-size: 1.25rem;
        }
    }
}

.homeFormRegister__btnAddMore {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
    padding: 0 15px;
    user-select: none;
    margin-bottom: 50px;
    h5 {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        font-size: 1.25rem;
        padding-right: 15px;
        font-family: Averta-Bold;
    }
    .icon--btnAddMore {
        -ms-flex: 0 0 24px;
        flex: 0 0 24px;
        max-width: 24px;
    }
    @media (max-width: 1024.98px) {
        margin-bottom: 25px;
        h5 {
            text-align: center;
            font-size: 1rem;
        }
    }
    @media (max-width: 575.98px) {
        h5 {
            font-size: .875rem;
        }
    }
}

.homeFormRegister__mainForm {
    background: rgba($color: #777171, $alpha: .2);
    padding: 65px 25px;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
    .form-group+.form-group {
        margin-top: 42px;
    }
    @media (max-width: 1024.98px) {
        padding: 45px 25px;
        .form-group+.form-group {
            margin-top: 25px;
        }
    }
    @media (max-width: 575.98px) {
        padding: 25px;
    }
}

.homeFormRegister__membersRegister {
    @media (max-width: 1024.98px) {
        margin-bottom: 15px;
    }
}

.memberRegister--item {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($color: #777171, $alpha: .5);
    margin-bottom: 25px;
    &.active {
        .memberRegister--name {
            color: map-get($mau, vang);
            border: 1px solid #F6E3B5;
            &:after {
                background-image: url(../assets/icons/pencil-vang.svg);
            }
        }
    }
}

.memberRegister--name {
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    color: #777171;
    font-family: Averta-Bold;
    user-select: none;
    border-radius: 10px;
    border: 1px solid #777171;
    padding: 0 35px 0 10px;
    line-height: 30px;
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        width: 14px;
        height: 14px;
        background-image: url(../assets/icons/pencil-xam.svg);
        background-size: 100% 100%;
    }
}

.homeFormRegister__subForm {
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
    padding: 25px;
    max-width: 465px;
    width: 100%;
    margin: 0 auto;
    @media (min-width: 1025px) {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .form-group+.form-group {
        margin-top: 30px;
    }
}

.subForm--memberRegisterName {
    font-size: 1.25rem;
    font-family: Averta-Bold;
    margin-bottom: 25px;
}

.subForm--listBtn {
    margin-top: 40px;
    display: flex;
    align-items: center;
    .btn-icon {
        margin-left: auto;
    }
}

.block-btn-submitForm {
    margin-top: 60px;
    @media (max-width: 1024.98px) {
        margin-top: 35px;
    }
}