section.StepBuyOnline__3
	.container
		.Core__titlePage
			h2.cl-xanh-2.tt-u.ta-c QUY TRÌNH MUA ONLINE 3 BƯỚC
		.overview_step_buy_online__wrapper
			.overview_step_buy_online--list.row
				.overview_step_buy_online--item.col-4
					a(href="step-buy-online__1.html").btn.btn--lg.border-vang-1px.no-shadow.w-100
						h5.tt-u.cl-vang.ta-c.lcl.lcl-2 đơn yêu cầu bảo hiểm
				.overview_step_buy_online--item.col-4
					a(href="step-buy-online__1.html").btn.btn--lg.border-vang-1px.no-shadow.w-100
						h5.tt-u.cl-vang.ta-c.lcl.lcl-2 kiểm tra và xác nhận
				.overview_step_buy_online--item.col-4.active
					a(href="step-buy-online__1.html").btn.btn--lg.border-vang-1px.no-shadow.w-100
						h5.tt-u.cl-vang.ta-c.lcl.lcl-2 thực hiện thanh toán
			.overview_step_buy_online--desc
				p.cl-xam.ta-c Vui lòng chọn phương thức thanh toán
		.step_buy_online_3__wrapper
			.payment_methods
				.item-method
					.item--img
						img(src="./assets/images/payment-methods/momo.png", alt="")
				.item-method
					.item--img
						img(src="./assets/images/payment-methods/vn-pay.png", alt="")
				.item-method
					.item--img
						img(src="./assets/images/payment-methods/atm.png", alt="")
			.payment_content
				.payment_content--text
					p.ta-c.cl-xam Hãy chuyển khoản cho chúng tôi với nội dung:
				.payment_content--quote
					h4.ta-c.cl-xanh-3 "Auto generated payment reference"
				.payment_content--text
					p.ta-c.cl-xam Thông tin thụ hưởng:
				.payment_content--info
					ul
						li
							p.cl-xam Tên tài khoản:
							span Tổng Công ty Cổ phần Bảo hiểm Bảo Long
						li
							p.cl-xam Số tài khoản:
							span 156.01.0126637.0014
						li
							p.cl-xam Ngân hàng:
							span TMCP Sài Gòn (SCB)
						li
							p.cl-xam Chi nhánh:
							span Phạm Ngọc Thạch
				.payment_content--text
					p.ta-c.cl-xam Số tiền cần chuyển:
				.payment--total
					h4.ta-c.cl-xanh-3(formatCurrency="VND") 2000000
				.payment_content--note
					p.cl-xam Chúng tôi sẽ gửi đơn Bảo hiểm vào địa chỉ email bạn đã cung cấp trong vòng 03 ngày làm việc kể từ khi nhận được phí bảo hiểm.
					p.cl-xam Nếu quá thời hạn trên mà bạn không nhận được đơn Bảo hiểm, vui lòng liên hệ chúng tôi qua số hotline (028)38 239249 để được hỗ trợ.