.PopUp__UpdateForms {
	display: none;
	position: relative;
	max-width: 1360px;
	width: 100%;
	height: 80vh;
	overflow-y: auto;
	margin: 0 auto;

	.ListMembers__Slider_Popup {
		position: sticky;
		top: 0;
		left: 0;
		z-index: 10;
	}
}

.PopUpUpdateForms__wrapper {
	position: relative;
}