extends _templates/_layout/_layout.pug

block var
	- let title = 'GIỚI THIÊU BẢO LONG VÀ LUMA | GLOBAL CANCER CARE';
	- let bodyClass = 'research-page';
	- let titlePageBanner_img = './assets/images/banners/titlePage_banner-3.png';
	- let titlePageBanner_content = 'GIỚI THIÊU BẢO LONG VÀ LUMA';

block loading
block banner,breadcrumb
	include _templates/_layout/_titlePage-banner
block main
	include _templates/about/a-1
block scripts