extends _templates/_layout/_layout.pug

block var
	- let title = 'MUA ONLINE | GLOBAL CANCER CARE';
	- let bodyClass = 'buy-online-page';

block loading
block banner,breadcrumb
block main
	include _templates/index/i-4
	include _templates/index/i-5
block scripts
