extends _templates/_layout/_layout.pug

block var
	- let title = 'MUA ONLINE | GLOBAL CANCER CARE';
	- let bodyClass = 'buy-online-page';

block loading
block banner,breadcrumb
block main
	include _templates/buy-online/b-1
block scripts