extends _templates/_layout/_layout.pug

block var
	- let title = 'HƯỚNG DẪN BỒI THƯỜNG | GLOBAL CANCER CARE';
	- let bodyClass = 'research-page';
	- let titlePageBanner_img = './assets/images/banners/titlePage_banner-1.png';
	- let titlePageBanner_content = 'TÌM HIỂU THÊM VỀ GLOBAL CANCER CARE';

block loading
block banner,breadcrumb
	include _templates/_layout/_titlePage-banner
block main
	include _templates/compensation/c-1
block scripts