extends _templates/_layout/_layout.pug

block var
	- let title = 'HƯỚNG DẪN BỒI THƯỜNG | GLOBAL CANCER CARE';
	- let bodyClass = 'research-page';

block loading
block banner,breadcrumb
block main
	include _templates/compensation/c-1
block scripts
