extends _templates/_layout/_layout.pug

block var
	- let title = 'Liên Hệ | GLOBAL CANCER CARE';
	- let bodyClass = 'contact-page';

block loading
block banner,breadcrumb
block main
	include _templates/contact/c-1
block scripts
