extends _templates/_layout/_layout.pug

block var
	- let title = 'ƯNG THƯ LÀ GÌ ? | GLOBAL CANCER CARE';
	- let bodyClass = 'define-page';

block loading
block banner,breadcrumb
block main
	include _templates/define/d-1
block scripts
