extends _templates/_layout/_layout.pug

block var
	- let title = 'ĐƠN YÊU CẦU BẢO HIỂM | GLOBAL CANCER CARE';
	- let bodyClass = 'buy-online-step-1-page';

block loading
block banner,breadcrumb
block main
	include _templates/step-buy-online__1/s-1
block scripts
