extends _templates/_layout/_layout.pug

block var
	- let title = 'KIỂM TRA VÀ XÁC NHẬN | GLOBAL CANCER CARE';
	- let bodyClass = 'buy-online-step-2-page';

block loading
block banner,breadcrumb
block main
	include _templates/step-buy-online__2/s-1
	include _templates/_layout/_pop-update-form
block scripts
