::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: #fff;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	border-radius: 2.5px;
	box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: map-get($mau, vang);
}

#overlay {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	background-color: rgba(0, 0, 0, .8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
	transition: .3s all ease-in-out;

	&.active {
		opacity: 1;
		visibility: visible;
		pointer-events: visible;
	}
}

#hot_line {
	cursor: pointer;
	position: fixed;
	right: 15px;
	bottom: 10%;
	z-index: 200;

	.hot_line--icon {
		margin-bottom: 5px;

		img {
			display: block;
			margin: 0 auto;
		}
	}

	.hot_line--text {
		font-size: 1.125rem;
		font-weight: 700;
	}

	@media (max-width: 1024.98px) {
		bottom: 10%;
	}

	@media (max-width: 575.98px) {
		bottom: 5%;
	}
}

body {
	overflow-x: hidden;

	&.disabled {
		overflow: hidden;
	}
}

input,
select,
textarea {
	&.input-validation-error {
		color: red !important;
		border: 1px solid red !important;
		transition: .3s all ease-in-out;

		&::placeholder {
			color: red !important;
		}
	}
}

.field-validation-error {
	position: relative;
	display: inline-block;
	margin: .5rem 0;
	font-size: 12px;
	color: red;
	padding-left: 20px;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 16px;
		height: 16px;
		background-image: url(../assets/icons/warning.svg);
		background-size: 100% 100%;
	}
}

.tab-container {
	.list-tab {
		.item {
			cursor: pointer;

			&.active {
				color: map-get($mau, main);
			}
		}
	}

	.tab-content {
		.content {
			display: none;
			opacity: 0;
			transition: all .3s cubic-bezier(.2, .5, .5, .8);

			&.show {
				opacity: 1;
			}
		}
	}
}

.ofcv {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	font-family: 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter: blur(10px);
	transition: filter 1s;

	&.lazyloaded {
		filter: blur(0);
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.lcl {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}

	&-4 {
		-webkit-line-clamp: 4;
	}
}

.Core__titlePage {
	h2 {
		position: relative;
		font-family: Averta-Black;
		font-size: 1.875rem;
	}

	@media (max-width: 575.98px) {
		h2 {
			font-size: 1.5rem;
		}
	}

	@media (max-width: 320.98px) {
		h2 {
			font-size: 1.3rem;
		}
	}

	&.haveLine {
		h2 {
			display: inline-block;
			padding-bottom: 15px;
			padding-right: 50px;

			&:after,
			&:before {
				content: '';
				position: absolute;
				background: map-get($mau, vang);
			}

			&:after {
				width: 100%;
				height: 1px;
				bottom: 0;
				left: 0;
			}

			&:before {
				width: 11px;
				height: 11px;
				bottom: -5px;
				right: 0;
				border-radius: 50%;
			}
		}

		@media (max-width: 575.98px) {
			h2 {
				padding-right: 25px;
				padding-bottom: 5px;
			}
		}
	}
}

.form-group {
	label {
		font-size: 1rem;
	}

	.text-label {
		font-family: Averta-Bold;
		font-size: 1.125rem;
		user-select: none;
		cursor: pointer;
		padding-right: 10px;
	}

	// INPUT !!!!
	.input-group {
		display: flex;
		position: relative;
		overflow: hidden;
		border-radius: 20px;
		box-shadow: 0px 2px 6px rgba($color: #000000, $alpha: .16);

		&.border-radius-10px {
			border-radius: 10px;
		}

		&.have-select-group-prepend {

			.input-control,
			.custom-select {
				padding-left: 40px;
				border-radius: 0 20px 20px 0;
			}

			@media (max-width: 1439.98px) {

				.input-control,
				.custom-select {
					padding-left: 15px;
				}
			}
		}

		.input-control,
		.custom-select {
			padding-left: 95px;
		}

		&-sm {
			border-radius: 8px;

			.input-control,
			.custom-select {
				font-size: 0.875rem;
				height: 43px;
				border-radius: 8px;
				padding-left: 45px;
			}

			.input-group-prepend {
				width: 45px;
			}

			.input-group-icon {
				img {
					width: 70%;
				}
			}
		}
	}

	.input-control {
		font-size: 1rem;
		width: 100%;
		height: 68px;
		border: 0;
		border-radius: 20px;
		box-shadow: 0px 2px 6px rgba($color: #000000, $alpha: .16);
		padding-left: 15px;
		padding-right: 15px;
		border: 1px solid transparent;
		transition: .3s all ease-in-out;

		&-sm {
			font-size: 0.875rem;
			height: 43px;
			border-radius: 10px;
		}

		&.border-radius-10px {
			border-radius: 10px;
		}

		&::placeholder {
			color: rgba($color: #777171, $alpha: .5);
			transition: .3s all ease-in-out;
		}

		&:focus {
			border: 1px solid map-get($mau, xanh-3);

			&::placeholder {
				color: map-get($mau, xanh-3);
			}
		}
	}

	.input-group-prepend {
		position: absolute;
		left: 0;
		top: 0;
		width: 75px;
		height: 100%;
	}

	.input-group-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// SELECT !!!!
	.select_prepend__wrapper {
		position: relative;
		padding-right: 20px;
		padding-left: 10px;

		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			background-image: url(../assets/icons-form/arow-select-trang.svg);
			background-size: 100% 100%;
			width: 9px;
			height: 6px;
		}
	}

	.select-group-prepend {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-content: center;
		padding: 0 10px;
		grid-auto-rows: 100%;
	}

	.select-group-icon {
		width: 50px;
		align-self: center;
	}

	.custom-select {
		cursor: pointer;
		font-size: 1rem;
		width: 100%;
		height: 68px;
		border: 0;
		border-radius: 20px;
		box-shadow: 0px 2px 6px rgba($color: #000000, $alpha: .16);
		padding-left: 15px;
		padding-right: 15px;
		color: rgba($color: #777171, $alpha: .5);
		appearance: none;

		option {
			color: #000000;

			&[hidden] {
				color: rgba($color: #777171, $alpha: .5)
			}

			&[selected] {
				color: #000000;
			}
		}
	}

	.select-prepend {
		cursor: pointer;
		font-size: 1rem;
		border: 0;
		background: none;
		color: #ffffff;
		appearance: none;

		option {
			color: #000000;

			&[hidden] {
				color: rgba($color: #777171, $alpha: .5)
			}

			&[selected] {
				color: #000000;
			}
		}

		@media (max-width: 1024.98px) {
			width: 75px;
		}
	}

	// CHECKBOX !!!!
	.input-group-checkox {
		box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
		border-radius: 10px;
	}

	.checkbox__wrapper {
		cursor: pointer;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		min-height: 77px;
		border-radius: 10px;
		box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
		padding: 0 10px;

		span {
			font-family: Averta-Black;
			user-select: none;
			font-size: 1.25rem;
			padding-right: 15px;
		}

		@media (max-width: 575.98px) {
			min-height: 50px;

			span {
				font-size: 1rem;
			}
		}

		@media (max-width: 320.98px) {
			span {
				font-size: 0.75rem;
				padding-right: 10px;
			}
		}
	}

	.checkbox-custom {
		cursor: pointer;
		position: relative;
		height: 26px;
		width: 26px;

		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			appearance: none;
			border-radius: 6px;
			transition-duration: 0.3s;
			cursor: pointer;
			background: #ffffff;
			box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);

			&:active {
				transform: scale(1.05);
				border-radius: 30px;
			}

			&:after {
				content: '\2713';
				position: absolute;
				transform: translate(-50%, -50%);
				top: -1%;
				left: 40%;
				width: 50%;
				height: 50%;
				font-size: 30px;
				font-weight: 700;
				pointer-events: none;
				opacity: 0;
				color: map-get($mau, vang);
				transition: .3s all ease-in-out;
			}
		}

		input:checked {
			&:after {
				opacity: 1;
			}
		}

		&.checked-vang {
			input {
				&:after {
					color: map-get($mau, vang);
				}
			}
		}

		&.checked-xanh-1 {
			input {
				&:after {
					color: map-get($mau, xanh-1);
				}
			}
		}

		&.checked-xanh-2 {
			input {
				&:after {
					color: map-get($mau, xanh-2);
				}
			}
		}

		@media (max-width: 575.98px) {
			height: 20px;
			width: 20px;

			input {
				&:after {
					font-size: 22px;
				}
			}
		}
	}

	.checkbox--desc {
		padding: 20px;

		p {
			font-size: 1rem;
			font-family: Averta-Light;
			color: #777171;
		}
	}

	// UPLOAD FILE
	.custom-file-input {
		cursor: pointer;
		user-select: none;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border: 0;
		height: 77px;
		padding: 0 20px;
		border-radius: 10px;
		box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
		max-width: 188px;
		width: 100%;

		h5 {
			font-family: Averta-Bold;
			text-align: center;
			font-size: 1.25rem;
		}

		@media (max-width: 575.98px) {
			height: 50px;
			padding: 0 10px;

			h5 {
				font-size: 1rem;
			}
		}
	}

	@media (max-width: 1024.98px) {

		.input-control,
		.custom-select {
			height: 50px;
		}

		.input-group {

			.input-control,
			.custom-select {
				padding-left: 75px;
			}
		}

		.input-group-prepend {
			width: 65px;
		}
	}

	@media (max-width: 767.98px) {
		.select-prepend {
			font-size: 0.75rem;
		}
	}

	@media (max-width: 575.98px) {

		.input-control,
		.custom-select {
			height: 43px;
			border-radius: 8px;


		}

		.input-group {
			border-radius: 8px;

			&.have-select-group-prepend {

				.input-control,
				.custom-select {
					padding-left: 40px;
					border-radius: 0 8px 8px 0;
				}
			}

			.input-control,
			.custom-select {
				padding-left: 55px;
			}
		}

		.input-group-prepend {
			width: 45px;
		}

		.input-group-icon {
			img {
				width: 70%;
			}
		}
	}
}

.overview_step_buy_online__wrapper {
	max-width: 1090px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;

	@media (min-width: 1200px) {
		>.row {
			margin-left: -30px;
			margin-right: -30px;

			>[class*='col-'] {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
}

.overview_step_buy_online--item {
	&.active {
		.btn--lg {
			background: map-get($mau, vang);

			h5 {
				color: map-get($mau, trang);
			}
		}
	}
}

.overview_step_buy_online--desc {
	margin-top: 30px;

	p {
		font-family: Averta-Bold;
		font-size: 1.125rem;
	}

	@media (max-width: 767.98px) {
		margin-top: 15px;

		p {
			font-size: 1rem;
		}
	}
}

.fancybox-content {
	@media (max-width: 575.98px) {
		padding: 44px 22px;
	}
}

.step_buy_online--buttons {
	margin-top: 30px;

	.item-buttons {
		&:last-child {
			text-align: right;
		}
	}
}