section.Advantage
	.container
		section.advantage__wrapper
			.Core__titlePage
				h2.cl-xam.ta-c.tt-u LỢI THẾ Global Cancer Care
			.advantage--list
				.advantage--item.wow.fadeInLeft(data-wow-delay=".2s")
					.advantage__item--wrapper
						.advantage--img.ov-h
							// image-size: 415x410
							img.ofcv.lazyload.blur-up(data-src="./assets/images/advantage/item-1.png", alt="loi-the-global-cancer-care")
						.advantage--content
							.advantage--title
								h3.cl-xam BÁC SỸ, BỆNH VIỆN
									br
									| TỐT NHẤT KHU VỰC
							.advantage--desc
								p.lcl.lcl-3 Chuyên gia y khoa của chúng tôi sẽ giới thiệu cho bạn những bác sỹ, bệnh viện điều trị ung thư tốt nhất trong khu vực.
				.advantage--item.wow.fadeInLeft(data-wow-delay=".2s")
					.advantage__item--wrapper
						.advantage--img.ov-h
							// image-size: 415x410
							img.ofcv.lazyload.blur-up(data-src="./assets/images/advantage/item-2.png", alt="loi-the-global-cancer-care")
						.advantage--content
							.advantage--title
								h3.cl-xam HỖ TRỢ TRONG 
									br
									| SUỐT QUÁ TRÌNH ĐIỀU TRỊ
							.advantage--desc
								p.lcl.lcl-3 Chuyên viên của chúng tôi sẽ ở bên, hỗ trợ bạn trong suốt quá trình điều trị ung thư (bất kể tại Việt Nam hay nước ngoài).
				.advantage--item.wow.fadeInLeft(data-wow-delay=".2s")
					.advantage__item--wrapper
						.advantage--img.ov-h
							// image-size: 415x410
							img.ofcv.lazyload.blur-up(data-src="./assets/images/advantage/item-3.png", alt="loi-the-global-cancer-care")
						.advantage--content
							.advantage--title
								h3.cl-xam MỨC BỒI THƯỜNG
									br
									| CAO NHẤT THỊ TRƯỜNG
							.advantage--desc
								p.lcl.lcl-3 Mức bồi thường cao nhất trên thị trường (lên đén 50 tỷ VND). Hợp đồng có thể gia hạn bảo hiểm kể cả khi bạn mắc bệnh ung thư." 