section.Advantage
	.container
		section.advantage__wrapper
			.Core__titlePage
				h2.cl-xam.ta-c.tt-u LỢI THẾ Global Cancer Care
			.advantage--list
				-for(j=1;j<4;j++)
					.advantage--item.wow.fadeInLeft(data-wow-delay=".2s")
						.advantage__item--wrapper
							.advantage--img.ov-h
								// image-size: 415x410
								img.ofcv.lazyload.blur-up(data-src="./assets/images/advantage/item-"+j+".png", alt="loi-the-global-cancer-care")
							.advantage--content
								.advantage--title
									h3.cl-xam.lcl.lcl-2 BÁC SỸ, BỆNH VIỆN
										br
										| TỐT NHẤT KHU VỰC
								.advantage--desc
									p.lcl.lcl-3 Chuyên gia y khoa của chúng tôi sẽ giới thiệu cho bạn những bác sỹ, bệnh viện điều trị ung thư tốt nhất trong khu vực.