section.InsurancePrograms
	.container
		section.insurancePrograms__wrapper
			.row
				.col-lg-5
					.insurancePrograms__Content
						.Core__titlePage
							h2.cl-vang.tt-u LỢI THẾ Global Cancer Care
						.insurancePrograms--desc
							p Đa dạng, hấp dẫn với nhiều lựa chọn
								br
								| phù hợp với mọi đối tượng khách hàng.
				.col-lg-7
					.insuranceProgram__Items
						.insuranceProgram--list.row
							.col-sm-6.insuranceProgram--item.wow.fadeInDown(data-wow-delay=".2s")
								a.insuranceProgram--link(href="#")
									.insuranceProgram--icon.ov-h
										img.lazyload.blur-up(data-src="./assets/images/insurance-programs/icon-1.png", alt="insurance-program-icon")
									.insuranceProgram--title
										h3 CHƯƠNG TRÌNH A
									.insuranceProgram--desc
										ul
											li
												span Hạn mức năm:
												span 2.400.000.000VND
											li
												span Hạn mức trọn đời:
												span 7.200.000.000VND
											li
												span Trung bình từ
												span 4.000.000đ
							.col-sm-6.insuranceProgram--item.wow.fadeInDown(data-wow-delay=".2s")
								a.insuranceProgram--link(href="#")
									.insuranceProgram--icon.ov-h
										img.lazyload.blur-up(data-src="./assets/images/insurance-programs/icon-2.png", alt="insurance-program-icon")
									.insuranceProgram--title
										h3 CHƯƠNG TRÌNH B
									.insuranceProgram--desc
										ul
											li
												span Hạn mức năm:
												span 6.000.000.000VND
											li
												span Hạn mức trọn đời:
												span 18.000.000.000VND
											li
												span Trung bình từ 
												span 5.900.000đ
							.col-sm-6.insuranceProgram--item.wow.fadeInDown(data-wow-delay=".2s")
								a.insuranceProgram--link(href="#")
									.insuranceProgram--icon.ov-h
										img.lazyload.blur-up(data-src="./assets/images/insurance-programs/icon-3.png", alt="insurance-program-icon")
									.insuranceProgram--title
										h3 CHƯƠNG TRÌNH C
									.insuranceProgram--desc
										ul
											li
												span Hạn mức năm:
												span 12.000.000.000VND
											li
												span Hạn mức trọn đời:
												span 36.000.000.000VND
											li
												span Trung bình từ
												span 6.100.000đ
							.col-sm-6.insuranceProgram--item.wow.fadeInDown(data-wow-delay=".2s")
								a.insuranceProgram--link(href="#")
									.insuranceProgram--icon.ov-h
										img.lazyload.blur-up(data-src="./assets/images/insurance-programs/icon-4.png", alt="insurance-program-icon")
									.insuranceProgram--title
										h3 CHƯƠNG TRÌNH D
									.insuranceProgram--desc
										ul
											li
												span Hạn mức năm:
												span 18.000.000.000VND
											li
												span Hạn mức trọn đời:
												span 54.000.000.000VND
											li
												span Trung bình từ
												span 7.200.000đ