section.HomeAboutProducts
	.container
		section.homeAboutProducts__wrapper
			.row
				.col-md-6.col-lg-5
					.Core__titlePage
						h2.cl-xanh-2.tt-u THEO TIÊU CHUẨN QUỐC TẾ 
							br
							| VÀ DÀNH CHO NGƯỜI VIỆT NAM
					.homeAboutProducts--desc
						p Đội ngũ chuyên gia của của chúng tôi sẽ đồng hành cùng bạn, tư vấn, hỗ trợ bạn trong suốt quá trình điều trị.
						p Chi trả chi phí di chuyển, lưu trú cho bạn và một người thân đồng hành trong trường hợp điều trị ung thư tại nước ngoài.
					.homeAboutProduct--info
						.info__title.bg-vang
							h3.lcl.lcl-1.cl-trang TÌM HIỂU THÊM VỀ SẢN PHẨM
						.info__list
							ul
								li
									a.lcl.lcl-1(data-fancybox data-src="#content1" href="javascript:;") Khi nào tôi được chi trả ?
								li
									a.lcl.lcl-1(data-fancybox data-src="#content2" href="javascript:;") Tôi được chi trả những chi phí gì ?
								li
									a.lcl.lcl-1(href="./downloads/brochure.pdf" download) Tải Brochure.
						.info__list-popup
							#content1.info__list--item
								h3.cl-vang.ta-c Khi nào bạn được chi trả ?
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt vitae repellendus provident pariatur eos error ex, eveniet illo nobis, facilis enim inventore recusandae cumque libero numquam incidunt adipisci illum magni!
								ul
									li
										p Lorem ipsum dolor sit amet,consectetuer adipiscing elit.
									li
										p  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
									li
										p Lorem ipsum dolor sit amet,consectetuer adipiscing elit.
									li
										p Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
									li
										p Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
									li
										p Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
									li
										p Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
									li
										p Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
									li
										p Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
									li
										p Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
									li
										p Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
									li
										p Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
									li
										p Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
									li
										p Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
							#content2.info__list--item
								h3.cl-vang.ta-c Tôi được chi trả những chi phí gì ?
								ul
									li
										p Lorem ipsum dolor sit amet,consectetuer adipiscing elit.
									li
										p  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
									li
										p Lorem ipsum dolor sit amet,consectetuer adipiscing elit.
									li
										p Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
				.col-md-6.col-lg-7
					.homeAboutProducts--img
						// image-size: 650x500
						img.lazyload.blur-up(data-src="./assets/images/home-about-products/main-image.png", alt="home-about-products")