section.HomeBannerQuote
	.bannerQuote__wrapper
		.bannerQuote--img.ov-h
			// image-size: 1920x380 
			img.lazyload.blur-up.ofcv(data-src="./assets/images/banners/index-4.png", alt="banner-quote")
		.bannerQuote--content
			.content
				p Ung thư thường gây kiệt quệ tài chính. Hãy tham gia bảo hiểm điều trị ung thư quốc tế để bảo vệ bạn và gia đình từ hôm nay
			.author
				span GlobalCancerCare