section.HomeFormRegister
	.container
		section.homeFormRegister__wrapper
			.row
				.col-lg-6
					.homeFormRegister--title
						h2.cl-vang.tt-u ĐIỀN THÔNG TIN ĐỂ THAM GIA BẢO HIỂM
					.homeFormRegister--mainForm
						.form-group
							.input-group
								.input-group-prepend
									.input-group-icon
										img.lazyload.blur-up(data-src="./assets/icons-form/user-xam-nhat.svg", alt="")
								input.input-control(placeholder="HỌ TÊN")
						.form-group
							.input-group
								.input-group-prepend
									.input-group-icon
										img.lazyload.blur-up(data-src="./assets/icons-form/date-xam-nhat.svg", alt="")
								input.input-control(type="date" placeholder="NGÀY SINH")
						.form-group
							.input-group
								.input-group-prepend
									.input-group-icon
										img.lazyload.blur-up(data-src="./assets/icons-form/mail-xam-nhat.svg", alt="")
								input.input-control(placeholder="EMAIL")
						.form-group
							.input-group
								.input-group-prepend
									.input-group-icon
										img.lazyload.blur-up(data-src="./assets/icons-form/phone-xam-nhat.svg", alt="")
								input.input-control(placeholder="SỐ ĐIỆN THOẠI")