section.HomeFormRegister
	.container
		section.homeFormRegister__wrapper
			.row
				.col-lg-12
					.homeFormRegisterMainForm__wrapper
						.homeFormRegister__title
							h2.cl-vang.tt-u.lcl.lcl-1.ta-c ĐIỀN THÔNG TIN ĐỂ THAM GIA BẢO HIỂM
						.homeFormRegister__mainForm
							.form-group
								.input-group
									.input-group-prepend
										.input-group-icon
											img.lazyload.blur-up(data-src="./assets/icons-form/user-xam-nhat.svg", alt="")
									input.input-control(placeholder="HỌ TÊN")
							.form-group
								.input-group
									.input-group-prepend
										.input-group-icon
											img.lazyload.blur-up(data-src="./assets/icons-form/date-xam-nhat.svg", alt="")
									input.input-control.date-picker(type="date" placeholder="NGÀY SINH")
							.form-group
								.input-group
									.input-group-prepend
										.input-group-icon
											img.lazyload.blur-up(data-src="./assets/icons-form/mail-xam-nhat.svg", alt="")
									input.input-control(placeholder="EMAIL")
							.form-group
								.input-group
									.input-group-prepend
										.input-group-icon
											img.lazyload.blur-up(data-src="./assets/icons-form/phone-xam-nhat.svg", alt="")
									input.input-control(placeholder="SỐ ĐIỆN THOẠI")
				.col-lg-12
					.homeFormRegisterSubForm__wrapper
						.homeFormRegister__btnAddMore.bg-vang
							h5.tt-u.cl-trang.lcl.lcl-1 ĐĂNG KÝ CHO THÀNH VIÊN TRONG GIA ĐÌNH
							.btn-icon.btn-icon-plus__vang.bg-trang
						.homeFormRegister__membersRegister.ov-h
							.memberRegister--list.row
								.memberRegister--item.col-6.col-md-4.active
									.memberRegister--name.lcl.lcl-1.tt-u(data-name="" , data-birthday = "") THÀNH VIÊN 1
						.homeFormRegister__subForm
							.subForm--memberRegisterName.cl-vang.tt-u.ta-c.lcl.lcl-1 THÀNH VIÊN 1
							.form-group
								.input-group.input-group-sm
									.input-group-prepend
										.input-group-icon
											img.lazyload.blur-up(data-src="./assets/icons-form/user-xam-nhat.svg", alt="")
									input.input-control.input-for-name(placeholder="HỌ TÊN")
							.form-group
								.input-group.input-group-sm
									.input-group-prepend
										.input-group-icon
											img.lazyload.blur-up(data-src="./assets/icons-form/date-xam-nhat.svg", alt="")
									input.input-control.date-picker(type="date" placeholder="NGÀY SINH")
							.subForm--listBtn
								.btn.btn--submitForm.bg-vang
									img.icon.lazyload.blur-up(data-src="./assets/icons/icon-submit.svg", alt="")
									h5.cl-trang HOÀN TẤT
								.btn-icon.btn-icon-minus__trang.bg-vang
			.block-btn-submitForm.ta-c
				a(href="area-exempt.html").btn.btn--submitForm.bg-xanh-2.h-38px
					h5.cl-trang.fs-20.tt-u XEM PHÍ BẢO HIỂM