.EffectiveDate {
	padding-top: 30px;
}

.effectiveDate__wrapper {
	margin-left: 140px;

	.form-group {
		.input-group {
			max-width: 535px;
			width: 100%;
		}
	}

	@media (max-width: 767.98px) {
		margin-top: 25px;
		margin-left: 0;
	}
}